<% layout("./layouts/boilerplate") %>
<div class="sub-nav d-flex justify-content-between align-items-center">
  <div class="dropdown mt-3">
    <button
      class="btn dropdown-toggle add-btn text-white"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      filters
    </button>
    <div class="dropdown-menu filterbar">
      <div class="d-flex">
        <a href="/listings?category=Trending">
          <div class="dropdown-item filter">
            <div>
              <i class="fa-solid fa-fire"></i>
            </div>
            <p>Trending</p>
          </div>
        </a>
        <a href="/listings?category=Lodge">
          <div class="dropdown-item filter">
            <div>
              <i class="fa-solid fa-bed"></i>
            </div>
            <p>Lodge</p>
          </div>
        </a>
        <a href="/listings?category=Iconic-cities">
          <div class="dropdown-item filter">
            <div>
              <i class="fa-solid fa-mountain-city"></i>
            </div>

            <p>Iconic-Cities</p>
          </div>
        </a>
        <a href="/listings?category=Mountains">
          <div class="dropdown-item filter">
            <div>
              <i class="fa-solid fa-mountain"></i>
            </div>
            <p>Mountains</p>
          </div>
        </a>
        <a href="/listings?category=Beaches">
          <div class="dropdown-item filter">
            <div>
              <i class="fa-solid fa-umbrella-beach"></i>
            </div>
            <p>Beaches</p>
          </div>
        </a>
        <a href="/listings?category=Pools">
          <div class="dropdown-item filter">
            <div>
              <i class="fa-solid fa-person-swimming"></i>
            </div>
            <p>Amazing Pools</p>
          </div>
        </a>
        <a href="/listings?category=Castles">
          <div class="dropdown-item filter">
            <div>
              <i class="fa-brands fa-fort-awesome"></i>
            </div>
            <p>Castles</p>
          </div>
        </a>
        <a href="/listings?category=Camping">
          <div class="dropdown-item filter">
            <div>
              <i class="fa-solid fa-tents"></i>
            </div>
            <p>Camping</p>
          </div>
        </a>
        <a href="/listings?category=Towers">
          <div class="dropdown-item filter">
            <div>
              <i class="fa-solid fa-tower-observation"></i>
            </div>

            <p>Towers</p>
          </div></a
        >
        <a href="/listings?category=Boats">
          <div class="dropdown-item filter">
            <div>
              <i class="fa-solid fa-sailboat"></i>
            </div>

            <p>Boats</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="tax-toggle mt-3">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="switchCheckDefault"
      />
      <label class="form-check-label" for="switchCheckDefault"
        >Display total after taxes</label
      >
    </div>
  </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListings) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_image"
        style="height: 19rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b>
          <br />
          &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") :
          "N/A" %> / night
          <i class="d-none" id="tax-info">+18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
