<% layout("./layouts/boilerplate") %>
<h1 class="col-6 offset-4 mt-5">Login into WanderWing</h1>
<div class="row mt-5">
  <div class="col-6 offset-3">
    <form action="/login" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          placeholder="Enter username"
          class="form-control"
          id="username"
          required
        />
        <div class="invalid-feedback">Username must be entered</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password "
          placeholder="Enter password"
          class="form-control" 
          required
        />
      </div>
      <div class="text-center"><button class="btn btn-success">Login</button></div>
    </form>
  </div>
</div>
